body {
    background-color: #ffffff;
    font-family: Verdana, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
}

nav a {
    color: #cccccc;
    margin: 0 12px;
    text-decoration: none;
}

main {
    padding: 25px;
}

h2 {
    color: #000000;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}

footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px;
}
h1 {
    color: #c41414;
}
